<h1>list of <%= controller_name %></h1>
<div class="w-100 d-flex justify-content-end pb-3">
  <%= link_to 'create', "#{controller_name}/new", class: "btn btn-primary" %>
</div>

<table class="table">
  <thead>
  <tr>
    <th scope="col">id</th>
    <th scope="col">Title</th>
    <th scope="col">Content</th>
    <th scope="col">Category</th>
  </tr>
  </thead>
  <tbody>
  <% @resources.each do |resource| %>
    <tr>
        <th scope="row"><%= resource.id %></th>
        <td>
          <%= link_to resource.title, "#{controller_name}/#{resource.id}" %>
        </td>
        <td><%= resource.content %></td>
        <td><%= resource.category %></td>
    </tr>
  <% end %>
  </tbody>
</table>